<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FireTraining</title>
  <!-- Import and configure the Firebase SDK -->
  <!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
  <!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
  <script defer src="/__/firebase/3.9.0/firebase-app.js"></script>
  <script defer src="/__/firebase/3.9.0/firebase-auth.js"></script>
  <script defer src="/__/firebase/init.js"></script>
  <script>
  </script>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
{{{body}}}
</body>
</html>
